In [1]:
# Dependencies and Setup
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
castaways_path = r'../castaways.csv'

castaways_df = pd.read_csv(castaways_path)

castaways_df.head()

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0

In [5]:
unique_ages = castaways_df['age'].unique()
unique_ages

array([33, 40, 43, 45, 39, 36, 44, 35, 28, 29, 41, 48, 34, 27, 60, 32, 23,
       24, 26, 37, 59, 46, 19, 25, 38, 21, 57, 31, 30, 47, 22, 18, 42, 50,
       51, 52, 54, 49, 71, 55, 20, 53, 64, 67, 56, 63, 62, 61, 75, 72])

In [6]:
max_age = castaways_df['age'].max()
max_age

75

In [7]:
min_age = castaways_df['age'].min()
min_age

18

In [8]:
print(np.arange(15, 85, 10))

[15 25 35 45 55 65 75]

In [9]:

bins = np.arange(15, 85, 10)
group_names = ["16-25",'26-35','36-45','46-55','56-65','66 and older']
copy_castaways_df = castaways_df.copy()
copy_castaways_df['age_group']=pd.cut(copy_castaways_df['age'], bins, labels = group_names)
# copy_castaways_df['reading_score']=pd.cut(copy_students_df['reading_score'], bins, labels = group_names)
copy_castaways_df

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won,age_group
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1,26-35
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0,36-45
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0,36-45
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0,36-45
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0,36-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Survivor: Borneo,1,Sean Kenniff,Sean,30,Carle Place,New York,INTP,36,12,12th voted out,5th jury member,Tagi,NaN,NaN,Rattana,9,0,26-35
740,Survivor: Borneo,1,Susan Hawk,Susan,38,Palmyra,Wisconsin,ESTP,37,13,13th voted out,6th jury member,Tagi,NaN,NaN,Rattana,7,0,36-45
741,Survivor: Borneo,1,Rudy Boesch,Rudy,72,Virginia Beach,Virginia,ISTJ,38,14,14th voted out,7th jury member,Tagi,NaN,NaN,Rattana,8,1,66 and older
742,Survivor: Borneo,1,Kelly Wiglesworth,Kelly,22,Kernville,California,ISFP,39,15,Runner-up,NaN,Tagi,NaN,NaN,Rattana,0,4,16-25
743,Survivor: Borneo,1,Richard Hatch,Richard,39,Newport,Rhode Island,ENTP,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,1,36-45

In [10]:
castaways_df = copy_castaways_df[['season_name', 'season', 'full_name', 'castaway','age', 'age_group', 'city', 'state', 'personality_type', 'day', 'order', 'result', 'jury_status', 'original_tribe', 'swapped_tribe', 'swapped_tribe2', 'merged_tribe', 'total_votes_received', 'immunity_idols_won']]
castaways_df

,season_name,season,full_name,castaway,age,age_group,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,26-35,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,36-45,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,36-45,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,36-45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,36-45,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Survivor: Borneo,1,Sean Kenniff,Sean,30,26-35,Carle Place,New York,INTP,36,12,12th voted out,5th jury member,Tagi,NaN,NaN,Rattana,9,0
740,Survivor: Borneo,1,Susan Hawk,Susan,38,36-45,Palmyra,Wisconsin,ESTP,37,13,13th voted out,6th jury member,Tagi,NaN,NaN,Rattana,7,0
741,Survivor: Borneo,1,Rudy Boesch,Rudy,72,66 and older,Virginia Beach,Virginia,ISTJ,38,14,14th voted out,7th jury member,Tagi,NaN,NaN,Rattana,8,1
742,Survivor: Borneo,1,Kelly Wiglesworth,Kelly,22,16-25,Kernville,California,ISFP,39,15,Runner-up,NaN,Tagi,NaN,NaN,Rattana,0,4
743,Survivor: Borneo,1,Richard Hatch,Richard,39,36-45,Newport,Rhode Island,ENTP,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,1

In [16]:
grouped_df = copy_castaways_df.groupby(pd.cut(copy_castaways_df['age'], bins, labels = group_names)).sum()
grouped_df['total_votes_received']

age
16-25           1166
26-35           1920
36-45            987
46-55            504
56-65            123
66 and older      20
Name: total_votes_received, dtype: int64

In [18]:
grouped_df = copy_castaways_df.groupby(pd.cut(copy_castaways_df['age'], bins, labels = group_names)).count()
grouped_df['age_group']

age
16-25           187
26-35           298
36-45           157
46-55            79
56-65            19
66 and older      4
Name: age_group, dtype: int64