In [1]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

# from https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas
#load json object
with open("/Users/rosaicelaroman/Desktop/Data_BootCamp/Survivor_Personality_Project2/templates/castaways.json") as f:
    d = json.load(f)

In [4]:
df = pd.json_normalize(d["castaways"])
df

,Lat,Lon,age,age_group,castaway,city,full_name,id,immunity_idols_won,personality_name,personality_type,result,season,season_name,state,total_votes_received
0,40.827045,-73.975694,33,26-35,Natalie,Edgewater,Natalie Anderson,1,1,Entrepreneur,ESTP,1st voted out,40,Survivor: Winners at War,New Jersey,11
1,30.421309,-87.216915,40,36-45,Amber,Pensacola,Amber Mariano,2,0,Adventurer,ISFP,2nd voted out,40,Survivor: Winners at War,Florida,6
2,39.027368,-95.762754,43,36-45,Danni,Shawnee,Danni Boatwright,3,0,Protagonist,ENFJ,3rd voted out,40,Survivor: Winners at War,Kansas,8
3,43.147079,-71.945743,45,36-45,Ethan,Hillsborough,Ethan Zohn,4,0,Adventurer,ISFP,4th voted out,40,Survivor: Winners at War,New Hampshire,4
4,33.415112,-111.831479,39,36-45,Tyson,Mesa,Tyson Apostol,5,0,Entrepreneur,ESTP,5th voted out,40,Survivor: Winners at War,Arizona,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,40.750241,-73.611875,30,26-35,Sean,Carle Place,Sean Kenniff,740,0,Logician,INTP,12th voted out,1,Survivor: Borneo,New York,9
740,42.877788,-88.586212,38,36-45,Susan,Palmyra,Susan Hawk,741,0,Entrepreneur,ESTP,13th voted out,1,Survivor: Borneo,Wisconsin,7
741,36.852984,-75.977418,72,66 and older,Rudy,Virginia Beach,Rudy Boesch,742,1,Logistician,ISTJ,14th voted out,1,Survivor: Borneo,Virginia,8
742,35.733073,-118.433946,22,16-25,Kelly,Kernville,Kelly Wiglesworth,743,4,Adventurer,ISFP,Runner-up,1,Survivor: Borneo,California,0
743,41.489983,-71.313771,39,36-45,Richard,Newport,Richard Hatch,744,1,Debater,ENTP,Sole Survivor,1,Survivor: Borneo,Rhode Island,6

In [7]:
import plotly.express as px

fig = px.scatter_mapbox(df, lat="Lat", lon="Lon", hover_name="full_name", hover_data=["city", "state", 'personality_name', "result"],
                        color_discrete_sequence=["fuchsia"], zoom=3, height=300)
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed